@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -10px;
  font-size: 0.85em;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  color: #fff;
  font-size: 1.2em;
  line-height: 50px;
  pointer-events: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px; /* adjust icon size */
  height: 10px; /* same height as input */
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url('gcashBG.jpeg') no-repeat;
  background-size: cover;
}

.login-box {
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.remember-forgot {
  margin: -15x 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  margin-right: 3px;
}

.remember-forgot a {
  color: #3210f3;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  color: #1f12d4;
  font-weight: 500;
  margin: 15px 0 10px;
}

.register-link {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 5px 0 10px;
}

.register-link p a {
  color: #2a1ab4de;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

input,
label,
button,
a,
h2,
p {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 360px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .input-box {
    width: 290px;
  }
}
