<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      // Prevent back button cache
      window.history.forward();
      function noBack() {
        window.history.forward();
      }

      window.onload = function () {
        noBack();
        if (performance.navigation.type === 2) {
          window.location.reload();
        }
      };

      window.onpageshow = function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      };
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
